.container {
  margin: 0 auto;
  padding: 13rem 1rem 2rem;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 11rem 2rem 2rem;
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 13rem 3rem 2rem;
    width: 900px;
  }
}

.container {
  margin: 0 auto;
  padding: 13rem 1rem 2rem;
  width: 300px;
}

.smallContainer {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 2rem 1rem;
}

.heading {
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  text-align: center;
}

.input {
  border: none;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
  padding: 0.5rem 1rem;
}

.submit {
  background-color: var(--color-white);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.5;
  margin: 2rem auto 0;
  padding: 0.5rem;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 11rem 2rem 2rem;
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 13rem 3rem 2rem;
    width: 900px;
  }

  .smallContainer {
    padding: 3rem 2rem;
  }

  .heading {
    margin-bottom: 3rem;
  }

  .row {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }

  .input {
    width: 70%;
  }

  .submit {
    width: 30%;
  }
}
