.container {
  /* background-color: var(--color-background); */
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 300px;
}

.heading {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* .label {
  text-align: center;
  width: 100%;
} */

.input {
  border: none;
  border-radius: 20px;
  font-size: 16px;
  padding: 0.5rem;
  width: 100%;
  /* flex-grow: 1; */
}

@media screen and (min-width: 768px) {
  .container {
    padding: 4rem 2rem;
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 6rem 3rem;
    width: 900px;
  }
}
