.header {
  background-color: var(--color-lightgray);
  position: fixed;
  width: 100%;
}

.nav {
  margin: 0 auto;
  padding: 1rem;
  width: 300px;
}

.heading {
  display: none;
  /* change for blind users to hear */
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    width: 900px;
  }
}
