.footer {
  background-color: var(--color-lightgray);
  bottom: 0;
  position: fixed;
  width: 100%;
}

.container {
  font-size: 14px;
  margin: 0 auto;
  padding: 1rem;
  width: 300px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 0.3rem;
}

.link {
  color: var(--color-accent);
  text-decoration: none;
}

.link:hover,
.link:focus {
  outline: none;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1rem 2rem;
    width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    font-size: 16px;
    padding: 1rem 3rem;
    width: 900px;
  }
}
